<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hola {{ name }}</h1>
    <h3>Categorías</h3>
    <p>{{ categories }}</p>
    <ul>
        {# Este es un comentario en Django. Puedes usarlo para agregar notas. #}

        {% for category in categories %}
            {% if category == 'code' %}
                <li><b>{{ category }}</b></li>
            {% else %}
                <li>{{ category }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h5>Total de categorías: {{ categories|length }}</h5>
</body>

</html>
