{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style%}{%endblock%}
    <title>Document</title>
</head>
<body>
    {% include 'base/partials/menu.html'%}
    <main>
        {% block content%}
        <h1>Herencia</h1>
        {% endblock %}
    </main>
    <footer><p>todo</p></footer>
</body>
</html>
